*{
    padding: 0;
    margin: 0;
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 0 auto;
}
.convert-container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 21px;
    margin: 10px;
}

.input:focus{
    outline: 2px solid #ccc;
}

.button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 21px;
    background-color: #ccc;
    color: #333;
    margin: 10px;
}

.button:hover{
    background-color: #333;
    cursor: pointer;
    color: #fff;
}

.button:focus{
    outline: 2px solid #ccc;
}

.button:disabled  {
    opacity: 0.5;
}
/* if clear is disabled do not hover  */
.clear:disabled:hover {
    background-color: #ccc;
    cursor: default;
    color: #333;
}
.result {
    font-size: 21px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: #333;
    margin-top: 30px;
}

.result >p{
    font-size: 21px;
}